@media screen and (max-width: 576px) {
    .navbar-brand img{
        width: 50px;
    }

    .navbar-nav {
        margin-top: 50px;
    }

    .header__phone {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        margin-top: 45px;
    }

    .header__btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .header__title {
        margin: 200px auto 0 auto;
    }

    .header__title h1 {
        font-size: 30px;
        line-height: 36px;
    }

    .header__title h2 {
        font-size: 40px;
        line-height: 46px;
    }

    .header__title p::before,
    .header__title p::after {
        display: none;
    }

    .header__boxes {
        top: 610px;
        width: 100%;
        row-gap: 14px;
    }

    .header__box {
        padding: 33px 13px 5px;
        width: 290px;
        height: 276px;
    }

    .header__box p {
        margin-top: 10px;
        font-size: 22px;
        line-height: 25px;
    }

    .story {
        padding-top: 830px;
    }

    .story__wrap {
        flex-direction: column;
        align-items: center;
    }

    .story__text h2 {
        font-size: 40px;
        line-height: 46px;
        display: flex;
        flex-direction: column;
    }

    .story__text p {
        text-align: center;
    }

    .story__box {
        flex-direction: column;
        row-gap: 20px;
    }

    .story__wrap img {
        margin-top: 45px;
        width: 290px;
        height: 257px;
    }
}